body {
  font-family: 'Lato', sans-serif;
  height: 100%;
  width: 100%;
  margin: 0.1px;
  padding: 0.1px;
}

/* header style */

header {
  padding: 5px;
  background-color: gray;
  display: none;
}

ul {
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  gap: 20px;
  list-style: none;
}

/* navigation bar style */

.menuNav {
  display: flex;
  align-items: center;
  box-shadow: 4px 4px 4px #00000040;
  margin-bottom: 5px;
}

.campaign {
  display: none;
}

.navBar {
  top: 0.1px;
  padding: 120px 0.1px 0.1px 0.1px;
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: lightgrey;
  font-size: 37px;
}

.navBar a {
  padding: 3px 0.1px 20px 30px;
  border-bottom: 2px solid #ec5242;
  text-decoration: none;
  color: #000;
  display: block;
}

.menu {
  margin: 17px 0.1px 18px 23px;
}

.menu button {
  all: initial;
}

.logo1 img {
  width: 110px;
  margin: 6px 0.1px 5px 123px;
}

/* introduction style */

.title {
  height: 150px;
  padding: 0.1px 0.1px 0.1px 0.1px;
  background-image: url('../pics/introBack1.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.title h3 {
  margin: 0.1px 12px 12px 12px;
  color: #ec5242;
  font-weight: 400;
  font-size: 33px;
  margin-bottom: 0.3em;
}

.title h1 {
  margin: 0.1px 12px 12px 12px;
  color: #ec5242;
  font-weight: 900;
  font-size: 35px;
  line-height: 1em;
}

.intro p {
  margin: 24px 10px 0.1px 24px;
  border: 4px;
  padding: 16px;
  text-align: center;
  font-weight: 400;
  font-size: large;
  line-height: 32px;
  color: #000;
}

.contact {
  background-color: #f7f7f8;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 49px 44px 30px 44px;
  text-align: center;
}

.contact h3 {
  margin: 0.1px;
  font-weight: 900;
  font-size: 12px;
  color: #7a7a7a;
}

.contact p {
  margin: 0.1px;
  padding: 0.1px;
  font-weight: 800;
  font-size: 12px;
  line-height: 25px;
  color: #5f5f5f;
}

/* logo style */

.logo {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo h2 {
  margin-top: 19px;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
}

.line {
  width: 35px;
  height: 0.1px;
  border: 2px solid #a04038;
}

.logo p {
  margin: 20px 10px 0.1px 10px;
  text-align: center;
}

.logo img {
  margin: 35px 0.1px 20px 0.1px;
}

/* past style */

.pastEvent {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pastEvent h2 {
  margin: 33px 51px 10px 51px;
}

.pastEvent p {
  margin: 10px 28px 10px 28px;
  font-weight: 700;
  font-size: 12px;
  line-height: 21px;
  color: #838383;
}

.pics {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.pics img {
  width: 334px;
  height: 182px;
}

.item {
  margin: 25px 21px 33px 21px;
  position: relative;
  display: inline-block;
}

.superPos {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #a04138a9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.superPos h4 {
  margin: 0.1px;
  font-size: 30px;
}

/* Partner Style */

.partner {
  width: 100%;
  background-color: #414246;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logos {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.partner h2 {
  color: #fff;
  margin: 30px;
  font-weight: 400;
  font-size: 1.8em;
  margin-bottom: 0.8em;
}

.partner img {
  width: 160px;
  padding: 15px;
}

/* footer style */

.message {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.message h3 {
  font-weight: 400;
  font-size: large;
  line-height: 32px;
  color: #3b3b3b;
}

.message img {
  width: 192px;
  height: 176px;
}

@media screen and (min-width: 768px) {
  /* header style */

  header {
    background-color: #3e3e3e;
    width: 100%;
    height: 30px;
    display: block;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0 0 0 0;
    gap: 20px;
  }

  #face {
    width: 10px;
  }

  #twi {
    width: 18px;
  }

  ul {
    margin-right: 150px;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    color: #fff;
  }

  li {
    margin-left: 20px;
  }

  /* navigation style */

  .menuNav {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
  }

  .campaign {
    all: initial;
    border: 5px solid #ec4327;
    width: 123px;
    height: 48px;
    font-weight: 800;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ec4327;
  }

  .navBar {
    all: initial;
    display: flex;
    gap: 55px;
  }

  .navBar a {
    all: initial;
  }

  .menu {
    display: none;
  }

  .logo1 img {
    margin: 0.1px;
  }

  /* intro style */

  .intro {
    all: initial;
    width: 100%;
  }

  .title {
    padding-top: 92px;
    height: auto;
    margin: 0.1px 0.1px 3px 0.1px;
    padding-right: 30%;
    padding-left: 30%;
  }

  #introDesc {
    background: #f8f8f8;
    border: 8.49673px solid #fff;
    padding-right: 30%;
    padding-left: 30%;
    font-size: 25px;
  }

  .time {
    padding-right: 30%;
    padding-left: 30%;
  }

  /* logo style */

  .logo {
    width: 100%;
  }

  .logo h2 {
    padding-top: 65px;
    padding-right: 24%;
    padding-left: 24%;
  }

  .logo p {
    padding-right: 24%;
    padding-left: 24%;
  }

  /* past style */

  .pics {
    flex-direction: row;
  }

  .pics img {
    flex-wrap: wrap;
    width: 430px;
    height: 236px;
  }

  .partner {
    display: none;
  }

  /* message style */

  .message {
    height: 250px;
    background-color: #2e2e2e;
  }

  .message h3 {
    color: #fff;
  }

  .message img {
    background-color: #fff;
  }
}
